In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('mr_dings.csv')

In [4]:
df.head()

         driver_name gender  age  tenure  dings
0    Jeffrey Timmons   Male   41     2.7      2
1         Rene Natal   Male   39     2.6     19
2  Adonnis Alexander   Male   29     2.4      3
3     Ricardo Morado   Male   27     2.4     21
4          John Tate   Male   28     2.1     43

In [5]:
df['ding_ratio'] = df['dings']/df['tenure']

In [6]:
df.head()

         driver_name gender  age  tenure  dings  ding_ratio
0    Jeffrey Timmons   Male   41     2.7      2    0.740741
1         Rene Natal   Male   39     2.6     19    7.307692
2  Adonnis Alexander   Male   29     2.4      3    1.250000
3     Ricardo Morado   Male   27     2.4     21    8.750000
4          John Tate   Male   28     2.1     43   20.476190

In [7]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(handle_unknown='ignore')
encoder_df = pd.DataFrame(encoder.fit_transform(df[['gender']]).toarray())
final_df = df.join(encoder_df)
print(final_df)

          driver_name gender  age  tenure  dings  ding_ratio    0    1
0     Jeffrey Timmons   Male   41     2.7      2    0.740741  0.0  1.0
1          Rene Natal   Male   39     2.6     19    7.307692  0.0  1.0
2   Adonnis Alexander   Male   29     2.4      3    1.250000  0.0  1.0
3      Ricardo Morado   Male   27     2.4     21    8.750000  0.0  1.0
4           John Tate   Male   28     2.1     43   20.476190  0.0  1.0
..                ...    ...  ...     ...    ...         ...  ...  ...
78     Malik Fletcher   Male   22     0.1     10  100.000000  0.0  1.0
79        Mark Chavez   Male   40     0.1     33  330.000000  0.0  1.0
80     Bryan Gonzalez   Male   23     0.1      0    0.000000  0.0  1.0
81    Andrew Sullivan   Male   30     0.1     37  370.000000  0.0  1.0
82       Dazarie Hall   Male   24     0.1      9   90.000000  0.0  1.0

[83 rows x 8 columns]

In [8]:
final_df.drop('gender', axis=1, inplace=True)

In [9]:
final_df.head()

         driver_name  age  tenure  dings  ding_ratio    0    1
0    Jeffrey Timmons   41     2.7      2    0.740741  0.0  1.0
1         Rene Natal   39     2.6     19    7.307692  0.0  1.0
2  Adonnis Alexander   29     2.4      3    1.250000  0.0  1.0
3     Ricardo Morado   27     2.4     21    8.750000  0.0  1.0
4          John Tate   28     2.1     43   20.476190  0.0  1.0

In [11]:
final_df.columns = ['name', 'age', 'tenure','dings', 'ding_ratio', 'female', 'male']

In [14]:
final_df.loc[final_df['female'] == 1].shape

(13, 7)

In [15]:
final_df.loc[final_df['female'] == 0].shape

(70, 7)

In [16]:
X = final_df[['age', 'tenure','female','male']]
y = final_df[['ding_ratio']]

In [17]:
from sklearn import linear_model

In [18]:
regr = linear_model.LinearRegression()
regr.fit(X,y)

LinearRegression()

In [22]:
predicted_dings = regr.predict([[28,.3,1,0]])
print(f'el ding ratio predecido es : {predicted_dings}')

el ding ratio predecido es : [[80.05367745]]

In [27]:
### coeficiente
regr.coef_

array([[ -0.24009212, -49.46699477,   6.01744445,  -6.01744445]])

In [38]:
edad = int(input('Ingresa la edad:'))
tenure = float(input('Ingresa el tenure:'))
female = int(input('Ingresa 1 si es female o si es male:'))
male = int(input('Ingresa 1 si es male, o si es female'))

Ingresa la edad:33
Ingresa el tenure:.1
Ingresa 1 si es female 0 si es male:0
Ingresa 1 si es male, 0 si es female1

In [39]:
prediccion = -0.24009212*edad -49.46699477*tenure + 6.01744445*female -6.01744445*male

In [40]:
print(f'el ding ratio predecido es: {prediccion}')

el ding ratio predecido es: -18.887183887